In [2]:
import pandas as pd

In [217]:
df = pd.read_excel("RF Final Targets.xlsx")
df
dfin.drop(dfin.index , inplace=True)
#df1["Targets"] = pd.DataFrame(df.columns[2:]).rename(columns = pd.DataFrame(df.columns[2:])[0])["Day 1"]
i = 0
while i < 23:
    
    df1.drop(df1.index , inplace=True)
    df1 = pd.DataFrame(df.iloc[i])
    df1.rename(columns = {i:'Targets'}, inplace = True)
    df1["AO"] = 'Area office - ' + df.iloc[i][1]
    df1["Days"]= df1.index
    if i == 0:
        dfin = df1
    #dfin.append(df1)
    dfin = pd.concat([dfin, df1])
    i = i + 1
dfin = dfin[(dfin["Days"] != 'Zone') & (dfin["Days"] != 'Area Office')]
dfin.to_excel("TargetsRF.xlsx")

In [14]:
df = pd.read_excel("All India Day Wise small.xlsx")
df

#df1["Targets"] = pd.DataFrame(df.columns[2:]).rename(columns = pd.DataFrame(df.columns[2:])[0])["Day 1"]
i = 0
while i < 23:
    if i != 0:
        df1.drop(df1.index , inplace=True)
    df1 = pd.DataFrame(df.iloc[i])
    df1.rename(columns = {i:'Targets'}, inplace = True)
    df1["AO"] = 'Area office - ' + df.iloc[i][0]
    df1["Days"]= df1.index
    if i == 0:
        dfin = df1
    #dfin.append(df1)
    dfin = pd.concat([dfin, df1])
    i = i + 1
dfin = dfin[(dfin["Days"] != 'AO') & (dfin["Days"] != 'Area Office')]
dfin.to_excel("TargetsRETAIL.xlsx")

In [11]:
df.iloc[1][0]

'Bhopal'

In [212]:
#df.iloc[22]
#pd.DataFrame(df.columns[2:]).rename(columns = pd.DataFrame(df.columns[2:])[0])["Day 1"]


dfin.drop(dfin.index , inplace=True)
#df1["Targets"] = pd.DataFrame(df.columns[2:]).rename(columns = pd.DataFrame(df.columns[2:])[0])["Day 1"]
i = 0
while i < 23:
    
    df1.drop(df1.index , inplace=True)
    df1 = pd.DataFrame(df.iloc[i])
    df1.rename(columns = {i:'Targets'}, inplace = True)
    df1["AO"] = 'Area office - ' + df.iloc[i][1]
    df1["Days"]= df1.index
    if i == 0:
        dfin = df1
    #dfin.append(df1)
    dfin = pd.concat([dfin, df1])
    i = i + 1
dfin = dfin[(dfin["Days"] != 'Zone') & (dfin["Days"] != 'Area Office')]
dfin.to_excel("Targets.xlsx")

In [213]:
dfin = dfin[(dfin["Days"] != 'Zone') & (dfin["Days"] != 'Area Office')]

In [214]:
dfin

       Targets                        AO    Days
Day 1      803  Area office - Chandigarh   Day 1
Day 2     1241  Area office - Chandigarh   Day 2
Day 3      548  Area office - Chandigarh   Day 3
Day 4      767  Area office - Chandigarh   Day 4
Day 5      621  Area office - Chandigarh   Day 5
...        ...                       ...     ...
Day 28    4166    Area office - Vadodara  Day 28
Day 29    5971    Area office - Vadodara  Day 29
Day 30    3437    Area office - Vadodara  Day 30
Day 31    3541    Area office - Vadodara  Day 31
Day 32    5902    Area office - Vadodara  Day 32

[768 rows x 3 columns]

In [216]:
dfin.to_excel("ttt.xlsx")

In [161]:

df1.rename(columns = {0:'DEALER_CODE'}, inplace = True)

In [163]:
df1

            DEALER_CODE                        AO         Days
Zone              North  Area office - Chandigarh         Zone
Area Office  Chandigarh  Area office - Chandigarh  Area Office
Day 1               803  Area office - Chandigarh        Day 1
Day 2              1241  Area office - Chandigarh        Day 2
Day 3               548  Area office - Chandigarh        Day 3
Day 4               767  Area office - Chandigarh        Day 4
Day 5               621  Area office - Chandigarh        Day 5
Day 6               876  Area office - Chandigarh        Day 6
Day 7               256  Area office - Chandigarh        Day 7
Day 8               402  Area office - Chandigarh        Day 8
Day 9               803  Area office - Chandigarh        Day 9
Day 10              548  Area office - Chandigarh       Day 10
Day 11              511  Area office - Chandigarh       Day 11
Day 12              511  Area office - Chandigarh       Day 12
Day 13              803  Area office - Chandigarh       Day 13
Day 14              256  Area office - Chandigarh       Day 14
Day 15              438  Area office - Chandigarh       Day 15
Day 16              803  Area office - Chandigarh       Day 16
Day 17              438  Area office - Chandigarh       Day 17
Day 18              511  Area office - Chandigarh       Day 18
Day 19              475  Area office - Chandigarh       Day 19
Day 20              803  Area office - Chandigarh       Day 20
Day 21              292  Area office - Chandigarh       Day 21
Day 22              475  Area office - Chandigarh       Day 22
Day 23              876  Area office - Chandigarh       Day 23
Day 24              548  Area office - Chandigarh       Day 24
Day 25              621  Area office - Chandigarh       Day 25
Day 26              657  Area office - Chandigarh       Day 26
Day 27             2920  Area office - Chandigarh       Day 27
Day 28             4380  Area office - Chandigarh       Day 28
Day 29             2263  Area office - Chandigarh       Day 29
Day 30             2336  Area office - Chandigarh       Day 30
Day 31             4344  Area office - Chandigarh       Day 31
Day 32             4380  Area office - Chandigarh       Day 32

In [31]:
df.iloc[2]

Zone             North
Area Office    Haryana
Day 1             1027
Day 2              685
Day 3              548
Day 4              514
Day 5              548
Day 6              616
Day 7              274
Day 8              274
Day 9              651
Day 10             685
Day 11             342
Day 12             411
Day 13             514
Day 14             274
Day 15             137
Day 16             599
Day 17             342
Day 18             342
Day 19             514
Day 20             360
Day 21             548
Day 22             274
Day 23             205
Day 24             788
Day 25             685
Day 26             856
Day 27            8561
Day 28            1027
Day 29            2055
Day 30            1370
Day 31            1370
Day 32            1370
Name: 2, dtype: object

In [145]:
df1 = pd.DataFrame(df.iloc[0])

In [146]:
df1

                      0
Zone              North
Area Office  Chandigarh
Day 1               803
Day 2              1241
Day 3               548
Day 4               767
Day 5               621
Day 6               876
Day 7               256
Day 8               402
Day 9               803
Day 10              548
Day 11              511
Day 12              511
Day 13              803
Day 14              256
Day 15              438
Day 16              803
Day 17              438
Day 18              511
Day 19              475
Day 20              803
Day 21              292
Day 22              475
Day 23              876
Day 24              548
Day 25              621
Day 26              657
Day 27             2920
Day 28             4380
Day 29             2263
Day 30             2336
Day 31             4344
Day 32             4380

In [29]:
df1["AO"] =

                 1
Zone         North
Area Office  Delhi
Day 1         1768
Day 2          982
Day 3          524
Day 4          982
Day 5          655
Day 6          982
Day 7          262
Day 8         1310
Day 9          982
Day 10         655
Day 11         655
Day 12         393
Day 13         655
Day 14         524
Day 15         786
Day 16         524
Day 17         262
Day 18         655
Day 19         360
Day 20         655
Day 21         295
Day 22         786
Day 23         524
Day 24         327
Day 25         655
Day 26         655
Day 27        3274
Day 28        5763
Day 29        1506
Day 30        1113
Day 31        1965
Day 32        2947